body {
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  color: #F593DE;
}

h2{
  color: #F593DE;
}
.custom-background-image {
  background-image: url('../images/LQ-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.border-custom-color {
  border-color: #9693F5;
}


a:link,
a:visited {
  color: #9693F5;
  font-size: 20px;
}

a:hover,
a:focus {
  color: #F593DE;
}

nav ul li .list-separator {
    background-color: #F593DE;
}
